<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> <title>{% block title %}Slogan Here{% endblock %} | MyrchMe</title>
    <meta name="description" content="Add description here."/>
    <meta name="keywords" content=""/>
    <link href="/site_media/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/site_media/images/favicon.png" type="image/x-icon" />

    {%block scripts%}
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% endblock %}
</head>

<body>
 <div id="siteContainer">
    <div id='header'>
    {% block top %}
     <br />
     <div id='logo' style="float:left">
         <a href="/"><img width="184px" height="74"src="/site_media/images/myrchme_logo.png" alt="MyrchMe logo"/></a>
     </div>
     <div style="float:right">
         {% block top_right %}
            {% if user.id %}
              <div>Logged in as <strong>{{user.username}}</strong> |
              <a href="/logout">Logout</a>
              </div>
            {% else %}
              <h2><a href="/">Login</a></h2>
            {% endif %}
         {% endblock %}
     </div>
     <br /><br />
     <div class="clear" style="padding-bottom:10px;"> </div>
     {% endblock %}
     </div>

 <div class="main_body">
 {% block content %}
 {% endblock %}
 </div>

 {% block footer %}
 <div class="clear" style="height:20px "></div>
  <div id="footer"><center><br />
          About | What is MyrchMe? | Contact Us | <a href="/register-vendor">Vendors</a><br/>
        &#169; 2010 MyrchMe, All Rights Reserved.</center>
  </div>
 {% endblock %}
 </div>
</body>
</html>