{% extends "base/base.html" %}
{%block title %} Home {% endblock %}

{% block top_right %}
  <form method="post" action="">
    Username:{{login_form.username}} &nbsp;&nbsp;Password:{{login_form.password}}
    <input type="submit" value="Login">
    <div style="color: red;"> {{error}} </div>
  </form>
{% endblock %}

{% block content %}
  <div style="float:left; width:70%;">
    <p>
        MyrchMe will allow for its users to buy gifts for themselves and for friends based on a set of predetermined preferences,
        frequency and target price. MyrchMe seeks to make both shopping and gift-buying a social, yet automated experience,
        all the while balancing the joy of a well-timed surprise and the comfort of always getting what you asked for.
        Join the fun and sign up!
    </p>
    <iframe src="http://www.facebook.com/plugins/like.php?layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:30px"></iframe>

  </div>
  <div style="float:right;"><a href="/register"><h1>Register now!</h1></a></div>

{% endblock %}