{% extends "base/base.html" %}

{%block title %} {{product.title}} {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h3>{{product.title}} </h3>
    {% if product.image_url %}
      	<div><img src="{{product.image_url}}" height="128" width="128"/></div>
    {% else %}
      	<div><img src="/site_media/images/questionmark.png" height="128" width="128"/></div>
    {% endif %}
    <div>Price: ${{product.price|floatformat:2}}</div>
    <div>{{product.description}}</div>
    <a href="/buy/{{product.id}}">Buy this item</a>

{% endblock %}
