{% extends "base/base.html" %}

{%block scripts%}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
 <h3>User Registration</h3>
 <form method="post" action="">

    <div style="float:left">
        <div style="padding:0px 5px 10px 0px;">First Name: </div>
        <div style="padding:0px 5px 10px 0px;">Last Name: </div>
        <div style="padding:0px 5px 10px 0px;">Gender: </div>
        <div style="padding:0px 5px 10px 0px;">Email: </div>
        <div style="padding:0px 5px 10px 0px;">Username: </div>
        <div style="padding:0px 5px 10px 0px;">Password: </div>
    </div>

     <div style="float:left">
        <div style="padding-bottom:10px">{{form.first_name}}</div>
        <div style="padding-bottom:10px">{{form.last_name}}</div>
        <div style="padding-bottom:10px">{{form.gender}}</div>
        <div style="padding-bottom:10px">{{form.email_primary}}</div>
        <div style="padding-bottom:10px">{{form.username}}</div>
        <div style="padding-bottom:10px">{{form.password}}</div>
     </div>

     <div style="float:left">
        <div style="padding-bottom:10px"> (optional){{form.first_name.errors}}</div>
        <div> (optional){{form.last_name.errors}}</div>
        <div>{{form.gender.errors}}</div>
        <div>{{form.email_primary.errors}}</div>
        <div>{{form.username.errors}}</div>
        <div>{{form.password.errors}}</div>
     </div>
     <div class="clear"></div>
    <input type="submit" value="Register">
 </form>
{% endblock %}
