{% extends "base/base.html" %}

{%block title %} Inventory {% endblock %}
{% block menu %} {% include "base/vendor_menu.html" %} {% endblock %}

{% block content %}
    <h3>{{user.username|capfirst}}'s Inventory: </h3>
    {% if products %}
    <table>
            <tr><td class="th">ID</td><td class="th">Title</td><td class="th">Category</td><td class="th">Price</td></tr>
            <tr><td height="10px"></td></tr>
        {% for product in products %}
           <tr>
               <td>{{product.prod_id}}</td>
               <td>{{product.title}}</td>
               <td>{{product.category.title}}</td>
               <td>${{product.price|floatformat:2}}</td>
           </tr>
        {% endfor %}
        </table><br />
        <a href="/delete-all-prods">Delete all products</a>
    {% else %}
        You have no products. Please<a href="/upload">upload</a>some.
    {% endif %}
{% endblock %}