{% extends "base/base.html" %}

{%block title %} {{vendor.company_name}} {% endblock %}
{% block menu %} {% endblock %}

{% block content %}
    <h2>{{vendor.company_name}}</h2><br />
    <h3>Popular {{vendor.company_name}} products: </h3>
    {% for product in top_items %}
      <div><a href="/product/{{product.id}}"><img src="/site_media/images/questionmark.png"/></a></div>
      <div><strong>{{product.title}}</strong></div>
      <div>Price: ${{product.price|floatformat:2}}</div>
      <div> Rating: {{product.avg_rating}}</div>
      <br />
    {% endfor %}
{% endblock %}